**Veri Gorsellestirme**

* Keşifçi Veri Analizi Nedir?

  Betimsel istatistikler, veri görselleştirme teknikleri ve iş çıktısı hedefiyle veri üzeride çalışmaktır.

Veri bilimcinin özgürce çalışabildiği, söz konusu olmayan yeni bulgularla ulaşabileceği, yeni iş fikirleri, yeni işe yarar 
sonuçlara ulaşabileceği, sorular sorarak, hipotezler kurarak ilerlediği süreçtir.

* Python ile Veri Görselleştirme

- Matplotlib
- Pandas
- Seaborn
- ggplot (R da yer alır fakat pythona uyarlanmıştır.)
- Bokeh (İnteraktif)
- Plot.ly

**Veri Seti üzerinde yapılması gereken işlemler**

* Veriye İlk Bakış

In [26]:
## Veri Seti Hikayesi ve Yapısının İncelenmesi

In [4]:
import seaborn as sns
planets = sns.load_dataset("planets")
planets.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [6]:
#Veri setinin hikayesi nedir?

NASA’nın yayınladığı galaksi keşfi ile ilgili veri setidir.

· method -> Galaksilerin bulunmasi için kullanılan yöntemin adı

· number -> Bulunan galaksilerdeki gezegen sayısı (1 -7)

· orbital_period -> Teknik bir ifadedir. Yörünge dönemini gösterir (0.09–730000)

· mass -> Galaksinin kütlesi (0.003–25)

· distance -> Bulunan galaksinin, bizim galaksimize olan uzaklığı (1.350–8500)

· year -> Galaksinin bulunduğu sene (1989–2014)

In [7]:
#Orjinal veri setinin yapısını korumak için
df = planets.copy()

In [8]:
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [9]:
df.tail()

       method  number  orbital_period  mass  distance  year
1030  Transit       1        3.941507   NaN     172.0  2006
1031  Transit       1        2.615864   NaN     148.0  2007
1032  Transit       1        3.191524   NaN     174.0  2007
1033  Transit       1        4.125083   NaN     293.0  2008
1034  Transit       1        4.187757   NaN     260.0  2008

In [10]:
#Veri seti yapısal bilgileri

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1035 entries, 0 to 1034
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   method          1035 non-null   object
 1   number          1035 non-null   int64
 2   orbital_period  992 non-null    float64
 3   mass            513 non-null    float64
 4   distance        808 non-null    float64
 5   year            1035 non-null   int64
dtypes: float64(3), int64(2), object(1)
memory usage: 48.6+ KB

In [17]:
#Sadece değişkenler ve değişkenlerin bilgileri
df.dtypes

method             object
number              int64
orbital_period    float64
mass              float64
distance          float64
year                int64
dtype: object

In [22]:
#object tipini category tipe dönüştürmek
import pandas as pd
df.method= pd.Categorical(df.method)

In [23]:
df.dtypes

method            category
number               int64
orbital_period     float64
mass               float64
distance           float64
year                 int64
dtype: object

In [25]:
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

* Veri Setinin Betimlenmesi

In [31]:
#Değişken ve gözlem sayısına erişmek
df.shape

(1035, 6)

In [34]:
#Sadece değişken isimlerine erişmek
df.columns

Index(['method', 'number', 'orbital_period', 'mass', 'distance', 'year'], dtype='object')

In [37]:
#Betimsel istatistik (Eksi gözlemleri göz ardı eder ve kategorik değişkenleri dışarıda bırakır.)
df.describe().T

,count,mean,std,min,25%,50%,75%,max
number,1035.0,1.785507,1.240976,1.000000,1.00000,1.0000,2.000,7.0
orbital_period,992.0,2002.917596,26014.728304,0.090706,5.44254,39.9795,526.005,730000.0
mass,513.0,2.638161,3.818617,0.003600,0.22900,1.2600,3.040,25.0
distance,808.0,264.069282,733.116493,1.350000,32.56000,55.2500,178.500,8500.0
year,1035.0,2009.070531,3.972567,1989.000000,2007.00000,2010.0000,2012.000,2014.0

In [40]:
#Tüm değişkenleri barındırmasını istediğimizde kullanırız.
df.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
method,1035,10,Radial Velocity,553,NaN,NaN,NaN,NaN,NaN,NaN,NaN
number,1035.0,NaN,NaN,NaN,1.785507,1.240976,1.0,1.0,1.0,2.0,7.0
orbital_period,992.0,NaN,NaN,NaN,2002.917596,26014.728304,0.090706,5.44254,39.9795,526.005,730000.0
mass,513.0,NaN,NaN,NaN,2.638161,3.818617,0.0036,0.229,1.26,3.04,25.0
distance,808.0,NaN,NaN,NaN,264.069282,733.116493,1.35,32.56,55.25,178.5,8500.0
year,1035.0,NaN,NaN,NaN,2009.070531,3.972567,1989.0,2007.0,2010.0,2012.0,2014.0

* Eksik Değerlerin İncelenmesi

In [44]:
#Hiç eksik gözlem(değer) var mı?
df.isnull().values.any()

True

In [49]:
#Hangi değişkende kaçar tane var?
df.isnull().sum()

method              0
number              0
orbital_period      0
mass              522
distance          227
year                0
dtype: int64

In [56]:
#Eksik veriyi 0 ile doldurduk.
#df["orbital_period"].fillna(0,inplace=True)

In [51]:
df.isnull().sum()

method              0
number              0
orbital_period      0
mass              522
distance          227
year                0
dtype: int64

In [58]:
#Eksik veriyi ortalama ile doldurduk.
#df["mass"].fillna(df.mass.mean(),inplace=True)

In [59]:
df.isnull().sum()

method              0
number              0
orbital_period      0
mass                0
distance          227
year                0
dtype: int64

In [65]:
#Bozulmamış veri setine döndük
df=planets.copy()
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [66]:
df.isnull().sum()

method              0
number              0
orbital_period     43
mass              522
distance          227
year                0
dtype: int64

* Kategorik Değişken Özetleri